
.call-to-action.accent {
    display: flex;
    position: relative;
    align-items: center;
    color: #000000;
    background-color: #eefe05;
    padding: 12.5px 40px 12.5px 21.31px;
    border: none;
    border-radius: 58.56px;
    cursor: pointer;
    font-size: 25px;
    line-height: 40px;
    font-weight: 500;
  }

  
 .call-to-action.accent .arrow{
    position: absolute;
    top: 50%;
    right: -35px;
    transform: translate(0,-50%);
    background: #EEFE05;
    
    display: flex;
    justify-content: center;
    align-items: center;
  
    border-radius: 50%;
    border: 1px solid #000000;
    padding: 20px;
  }