.services{
    padding-top: 200px;
}

.services .ctaDiv{
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-bottom: 400px;
}

.services .swiggly{
    position: absolute;
    left: 0;
    height: 800px;
    z-index: 0;
}

@media (max-width:768px) {
    .services .swiggly{
     height: 200px;
     top:300px !important;
     transform: scale(2);   
     left: 180px;
    }
}