.services{
    padding-top: 200px;
}

.services .ctaDiv{
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-bottom: 370px;
    margin-top: 100px;
}



.services .swiggly{
    position: absolute;
    left: 0;
    height: 800px;
    z-index: 0;
}

@media (max-width:768px) {
    .services .swiggly{
     height: 200px;
     top:300px !important;
     transform: scale(2);   
     left: 180px;
    }
}

@media(min-width:1200px){
    .services .ctaDiv{
        margin-top: 0;
    }

    .services .swiggly{
        top: -40%;
    }
    
}

@media(min-width:1800px){
    .services .swiggly{
        height: 1000px;
    }
    
}