

.serviceCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 38px;
    margin: 40px;
    margin-left: 10vw;
    margin-right: 10vw;
}

.serviceCard {
    padding: 20px;
    /* background-color: #111; */
    border-radius: 8px;
}

.yellowBoxBullet{
    width: 20px;
    height: 20px;
    background: #eefe05;
    display: inline-block;
    margin-top: 10px;
    margin-right: 5px;
}

@media(max-width: 768px){
    .yellowBoxBullet{
        width: 15px;
        height: 15px;
    }
}

.serviceCard-title {
    font-size: 32px;
    font-weight: 500;
    line-height: 35px;
    margin-bottom: 10px;
    color: #fff;
    display: block;
    align-items: flex-start;
    gap: 10px;
}

.serviceCard-description {
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    color: #bbbbbb;
}

.serviceCards-arrow {
    grid-column: span 3;
    justify-self: center;
    margin-top: 20px;
}
