.services{
    padding-top: 200px;
}

.services .ctaDiv{
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.services .swiggly{
    position: absolute;
    left: 0;
    height: 800px;
    z-index: 2;
}