.why-us-second {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #eaeaea;
    padding: 20px;
    margin-top: 400px;
    margin-left: 2vw;
}

.why-us-second .content {
    /* max-width: 844px; */
    width: 50vw;
    z-index: 3;
}

.why-us-second .title {
    font-family: 'Nohemi', sans-serif;
    font-weight: 900;
    font-size: 100.58px;
    line-height: 105.73px;
    max-width: 600px;
    margin: 0;
    color: #fdfee8;
    width: max-content;
}

.why-us-second .description {
    font-family: 'Nohemi', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    color: #eaeaea;
    width: 60%;
    margin-top: 20px;
}

.why-us-second .card-image img {
    /* width: 530px; */
    /* height: 385.73px; */
    margin-left: -220px;
    margin-top: -200px;
}

.why-us-second .card-image{
    position: relative;
}

.why-us-second .card-image .pos-r{
    position: relative;
    z-index: 2;
}

.why-us-second .card-image .pos-a {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;

}




  


  
  @media(max-width:800px){
  .why-us-second .description{
    width: 100% !important;
    position: relative !important;
    left: 0 !important;
  }
}
@media(min-width:1000px){
    .why-us-second {
        margin-top:475px;
    }
}

@media(min-width:1600px){
    .why-us-second .description{
      font-size: 23px !important;
    }

    .why-us-second .title{
        font-size: 120px;
        max-width: 700px;
    }

    .why-us-second .card-image{
        margin-left: -50px;
    }
  }

  
@media(min-width:1750px){
    .why-us-second .card-image{
        margin-left: -80px;
    }
}

@media(min-width:1999px){
    .why-us-second .card-image{
        margin-left: -180px;
    }
}

