.why-us-third {
    display: flex;
    /* align-items: center; */
    align-items: flex-start;
    gap: 50px;
    /* padding: 20px; */
    padding: 150px;
    background-color: #000000;
    color: #fdfee8;
}

.why-us-third-description {
    font-family: 'Nohemi', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #fdfee8;
    max-width: 200px;
    margin: 0;
    margin-right: 20px;
    margin-top: 50px;
}

.why-us-third-description p{
    width: 400px;
}

.why-us-third-title {
    font-family: 'Nohemi', sans-serif;
    font-weight: 900;
    font-size: 147.58px;
    line-height: 153.7px;
    margin: 0;
    text-align: right;
}

.fast-outlined {
    position: relative;
    color: #fdfee8;
    text-stroke: 4px #131313;
}

.why-us-third-right{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

img.fast{
    width: 50%;
}