@media(min-width:768px){
.header-mobile {
    display: none !important;
}
}
.group-container {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 52px;
    justify-content: left;
    gap: 20px;
    padding: 20px;
    margin: 20px;
    background-color: #eefe05 !important;
    z-index: 99;
  }
  
  .logo-frame {
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon-globe {
    width: 49.92px;
    height: 49.92px;
  }
  
  .frame-container {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 4px;
  }
  
  .icon-frame {
    width: 82.06px;
    height: 42.06px;
    background-color: #FFF;
    border-radius: 80.24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon-menu {
    width: 18.06px;
    height: 18.06px;
  }
  
  .schedule-frame {
    width: 127px;
    height: 44px;
    display: flex;
    align-items: center;
  }
  
  .inner-frame {
    display: flex;
    align-items: center;
    background-color: black;
    border-radius: 55.42px;
    padding: 7.33px 5.5px;
    border: 0.92px solid #000;
  }
  
  .schedule-text {
    color: yellow;
    font-size: 17.91px;
    font-family: Nohemi, sans-serif;
    font-weight: 500;
    margin-left: 35.17px;
    line-height: 17.99px;
  }
  
  .arrow-icon {
    width: 40px;
    height: 40px;
    margin-left: 30.28px;
    background-color: #000;
    border: 1px solid #eefe05;
    border-radius: 50%;
    padding-top: 7px;
  }
  
  .mobile-menu{
    background-color: #eefe05;
    height: calc(100vh - 92px);
    top:52px;
    width: 100vh;
    position: fixed;
    z-index: 99;
    overflow-y: scroll;
  }

  .mobile-menu ul{
    padding: 20px;
  }

  .mobile-menu p{
    font-weight: 900;

  }
  .mobile-menu h2{
font-size: 40px;
font-weight: 900;
  }

  .headerSocials{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 100vw;
  }

  .headerSocials .socialIcons{
    display: flex;
  }
  .headerSocials p{
    font-weight: 300;
  }