body{
  background-color: #eefe05;
}  

header .call-to-action:hover{
  background-color: #EEFE05;
  color: #000;
  border: 1px solid #000;
}
@font-face {
  font-family: 'Nohemi';
  src: url('./assets/fonts/Nohemi-Thin-BF6438cc57e2011.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Nohemi';
  src: url('./assets/fonts/Nohemi-ExtraLight-BF6438cc581502c.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Nohemi';
  src: url('./assets/fonts/Nohemi-Light-BF6438cc5702321.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Nohemi';
  src: url('./assets/fonts/Nohemi-Regular-BF6438cc579d934.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nohemi';
  src: url('./assets/fonts/Nohemi-Medium-BF6438cc57ddecd.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Nohemi';
  src: url('./assets/fonts/Nohemi-SemiBold-BF6438cc57db2ff.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Nohemi';
  src: url('./assets/fonts/Nohemi-Bold-BF6438cc577b524.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Nohemi';
  src: url('./assets/fonts/Nohemi-ExtraBold-BF6438cc5761ae2.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Nohemi';
  src: url('./assets/fonts/Nohemi-Black-BF6438cc565e67b.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}



.projectPage .schedule-services-page {
  display: none !important
}

.rightSection {
  text-align: right;
}
html, body, .app {
  width: 100vw;
  overflow-x: hidden;
}


*, *::before, *::after, html, body {
  box-sizing: border-box;
  font-family: Nohemi;
}


body {
  margin: 0;
  font-family: 'Nohemi', sans-serif;
}
.d-flex{
  display: flex !important;
}

.jcc{
  justify-content: center !important;
}

.aic{
  align-items: center !important;
}

.app {
  background-color: #EEFE05;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 68px;
  background-color: #EEFE05;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: "box-shadow 0.3s ease";
}

@media(max-width:768px){
  .header {
      display: none;
  }
  }

.headerBottom{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* font-weight: 900; */
  font-weight: 700;
  font-size: 14px;
}

hr{
  width: calc(100vw - 136px);
  border: 1px solid #000;  
}

.headerBottom .headerExtras{
  display: flex;
  justify-content: space-between;
  width: calc(100vw - 136px);
  margin-top: 20px;

}

.headerExtras .leftDiv{
gap: 200px;
display: flex;
justify-content: space-between;
}
.headerExtras .rightDiv{
  /* width: 25vw; */
  display: flex;
  gap:50px;
  justify-content: space-between;
  
}

.headerExtras .plus{
  font-size: 24px;
  line-height: 24px;
}

.logo {
  width: 64px;
  height: 64px;
}

.navigation {
  display: flex;
  gap: 32px;
}

.nav-item, .navigation a {
  text-decoration: none;
  color: #000000;
  font-weight: normal;
  font-size: 24px;
  line-height: 25px;
  text-decoration: none;
}

.nav-item.active, .navigation a.active {
  font-weight: 600;
  text-decoration: underline;
}

.header .call-to-action .arrow{
  width: 30px;
  height: 30px;
}

.call-to-action {
  display: flex;
  position: relative;
  align-items: center;
  background-color: #000000;
  color: #eefe05;
  padding: 7.75px 30px 7.75px 21.31px;
  border: 1px solid transparent;
  border-radius: 58.56px;
  cursor: pointer;
  font-size: 18.93px;
  font-weight: 500;
}

.cta-button{
  padding: 0;
}

.bg-transparent{
  background-color: transparent !important;
}

.text-black{
  color: #000 !important;
}

/* .border-black{
  border: 1px solid #000;
} */

.child-arrow-primary .arrow{
  color: #eefe05 !Important;
  font-size:20px;
}

.call-to-action .arrow{
  position: absolute;
  top: 50%;
  right: -30px;
  transform: translate(0,-50%);
  background: #000;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  border: 1px solid #EEFE05;
}

.arrow {
  display: inline-block;
  margin-left: 10px;
  width: 40px;
  height: 40px;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 60vh; */
  margin-top: 50px;
  text-align: center;
}

.hero-section .cta-button{
  font-size: 39px;
  line-height: 39px;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-right: 50px;
}

.hero-section .cta-button .arrow{
  height: 64px;
  width: 64px;
  right: -40px;
}
.hero-section .arrow img{}

.hero-content h1 {
  font-size: 300px;
  line-height: 250px;
  font-weight: 900;
  margin: 0;
  position: relative;
  display: inline-block;

}

.hero-content .zero{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.hero-content .zero::before,
.hero-content .zero::after {
    position: absolute;
    left: 10%;
    right: 65%;
    height: 1px; /* Border thickness */
    background-color: black; /* Border color */
}

.hero-content .zero::before {
  content: "";
    top: 0.23em; /* Border at the top, touching the letters */
}

.hero-content .zero::after {
    bottom: .065em; /* Border at the bottom, touching the letters */
}

.hero-content .swiggly{
  position: relative;
  top:60px;
}

.hero-content .swiggly::before,
.hero-content .swiggly::after {
    content: "";
    position: absolute;
    top:-40%;
    bottom: -100%;
    height: 115%; /* Border thickness */
    width: 1px;
    background-color: black; /* Border color */
}

.hero-content .swiggly::before {
    left: -10%;
}

.hero-content .swiggly::after {
    left: 110%;
}

.hero-content .one{
  position: relative;
}
.hero-content .one::before,
.hero-content .one::after {
    position: absolute;
    left: 0%;
    /* right: 0%; */
    width: 100%;
    height: 1px; /* Border thickness */
    background-color: black; /* Border color */
}

.hero-content .one::before {
    top: 0.23em; /* Border at the top, touching the letters */
}

.hero-content .one::after {
  content: "";

    bottom: .4em; /* Border at the bottom, touching the letters */
}

.hero-content .ampersand{
  font-size: 170px;
}

.hero-content .to{
  position: relative;
}

.hero-content .to.present::before,
.hero-content .to.present::after {
    position: absolute;
    background-color: black; /* Border color */
}

.hero-content .to.present::before {
  content: "";

  top: 80%;
  left: -10%;
  width: 110%;
  height: 1px; /* Border thickness */

}

.hero-content .to.present::after {
  bottom: 10%;
  left: -25%;
  height: 40%;
  width: 1px; /* Border thickness */

}

.hero-content .to.ampersand::before,
.hero-content .to.ampersand::after {
    /* content: ""; */
    position: absolute;
    background-color: black; /* Border color */
}

.hero-content .to.ampersand::before {
  top: 80%;
  left: -110%;
  width: 110%;
  height: 1px; /* Border thickness */

}

.hero-content .to.ampersand::after {
  top: 40%;
  left: -50%;
  height: 90%;
  width: 1px; /* Border thickness */

}

.hero-section .subHeading{
  display: flex;
  margin-top: 0px;
  /* gap: 200px; */
  gap: 0;
}

.hero-content p {
  /* font-size: 24px; */
  margin: 15px 0;
  position: relative;
  max-width: 750px;
  text-align: left;
}

.hero-content p::before{
  /* content: ''; */
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background-color: #000;

}

.footer {
  background-color: EEFE05;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 39.96px;
  line-height: 40.14px;
}

.icon {
  margin: 0 16px;
}

.arrow {
  margin: 0 20px;
}

.arrow-icon {
  font-weight: 900;
  font-size: 114.53px;
  line-height: 115.04px;
  color: #131313;
  margin: 0 10px;
}

.cta-button {
  background-color: transparent;
  border: 2px solid black;
  padding: 10px 40px 10px 20px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 120px;
  position: relative;
}

.cta-button .arrow{
  position: absolute;
  top: 50%;
  right: -30px;
  transform: translate(0,-50%);
  background: #000;
  color: #eefe05;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  padding: 5px;
  border: 1px solid #000;
}
.footer-content p{
  /* height: 120px; */
  /* display: grid; */
  margin: 0;

}
/* 
.footer-content p {
  position: relative;
  height: 100px;
  width: 100vw;
}

.footer-content p * {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1%; 
  text-align: center;
} */

.px-15{
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.mt-60{
  margin-top: 60px;
}

.aic{
  align-items: center !important;
}

.hover\:text-primary:hover{
  color: #eefe05 !important;
}

@media(max-width:768px){
  .hero-content .zero::before {
top: .15em;
right: 63.5%;
  }

  .vast{
    position: relative;
    left: -30px;
  }
.hero-section .subHeading{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.hero-section .subHeading p{
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 100px;
}

.hero-section .cta-button{
  font-size: 22px;
  line-height: 22px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 30px;
  font-weight: 500;
}

.hero-section .cta-button .arrow{
  width: 35px;
  height: 35px;
  right: -33px;

}
.title{
  font-size: 25px !important;
}

.sm-text-center{
  text-align: center !important;
}

.sm-hidden{
  display: none !important;
}

.headerRow img{
  max-width: 100% !important;
}

.headerExtras {
  width: 100% !important;
  justify-content: center !important;
  
}

.headerExtras .rightDiv{
  display: none;
}

.sm-tar{
  text-align: right !important;
}

.relatedCase::before{
  content: '';
  width: 200vw;
  height: 1px;
  background-color: #000;
  left: -100vw;
  top: 20px;
  position: absolute;
  z-index: 2;
mix-blend-mode: color;
}
}

@media (max-width:768px) {

  .section-header{
    width: calc( 100vw - 40px) !important
  }
  .hero-content h1{
    font-size: 80px;
    line-height: 70px;
  }

  .hero-content p{
    font-size: 20px;
    max-width: 80vw;
  }

  .md-d-none{
    display: none !important;
  }

  hr{
    width: 90vw !important;
    margin-left: 5vw !important;
  }
 .why-us-first{
  width: calc(100vw - 63px) !important;
  /* margin-bottom: 100px !important; */
 }

 .why-us-first .content-left{
  width: auto !important;
 }

 .why-us-first .graphic-element{
  margin: 0 auto !important;
  width: auto !important;

 }

  .why-us-first, .why-us-second{
    display: block !important;
  }

  .why-us-second .description{
    width: 100% !important;
    font-size: 25px !important;
    line-height: 35px !important;
    white-space: break-spaces !important;
  }

  .why-us-second{
    margin:auto !important;
    margin-top: 150px !important;
    width: calc(100vw - 63px) !important;
  }

  .why-us-first .content-right{
    display: none !important;
  }

  .why-us-first p{
    width: 100% !important;
    /* left: -25% !important; */
    font-size: 25px !important;
    line-height: 35px !important;
    color: #eaeaea !important;
  }

  .why-us-first .title-mobile{
    color: #fff;
    font-size: 40px;
    font-weight: 900;
    width: 100%;
    position: relative;
    /* left: -25%; */
    text-align: right;
  }

  .why-us-first .description{
    width: 100% !important;
    position: relative !important;
    left: 0 !important;
  }

  .why-us-second .content{
    width: 100% !important;
  }

  .why-us-second .card-image img.go-left,
  .why-us-second .card-image img.go-right{
  /* display: none; */
  }
  .why-us-second .card-image img{
    width: 200px;
    margin: auto !important;
    margin-top: 50px;
  }

  .why-us-second .title{
    line-height: normal !important;
    margin-top: 50px !important;
    line-height: 46px !important;
    font-size: 38px !important;
  }

  .why-dots{
    margin-left: 0 !important;
  }

  .why-us-third-title{
    font-size: 40px !important;
    line-height: 48px !important;
  }

  .why-us-third{
    flex-direction: column-reverse !important;
    max-width: calc(100vw - 63px) !important;
  }

  

  .why-us-third-description{
    font-size: 25px !important;
    line-height: 35px !important;
  }

  .why-us-cta{
    flex-direction: column !important;
    justify-content: center;
    align-items: center !important;
    gap: 30px;
    width: max-content;
    margin-top: 50px !important;
  }

  .cta-text{
    font-size: 25px !important;
  }

  .section-cta-container{
width: auto !important;
  }

  .section-cta{
    margin-bottom: 30px;
    margin-right: 0 !important;
    justify-content: center;

  }

  .arrow-icon{
    width: auto !important;
    height: auto !important;
    padding: 10px;
  }

  .why-us-cta .call-to-action.accent{
    /* width: max-content; */
    width: 70vw !important;
    font-size: 1.6rem !important;
    justify-content: center !important;
  }

  .call-to-action{
    padding-right: 40px !important;
  }

  .services .ctaDiv{
    padding-bottom: 400px !important;
  }

  .services .swiggly{
    top: 100px !important;
  }
  
  .portfolio-single,
  .portfolio-single-left,
  .portfolio-single-three,  
  .portfolio-single-four{
    /* width: calc(100vw - 60px) !important;   */
    width: 100vw !important;  
    margin: 70px 0 !important;
  }

  .portfolio-single-left{
    margin-bottom: 0 !important;
  }
  .portfolio-single-three,
  .portfolio-single-three .circle-section{
    margin: 0 auto 0 auto !important;
    padding: 0 !important;
  }

  .portfolio-single,
  .portfolio-single-three{  
    flex-direction: column;
    /* margin-top: 10px !important; */
    /* padding-top: 50px !important; */
  }

  .portfolio-single-three .circle{
    width: 250px !important;
    height: 250px !important;
  }

  .portfolio-single-three .circle-section::after,
  .portfolio-single-three .circle-section::before{
    border: none !important;
  }

  .portfolio-single-three .project-image{
    display: none;
  }

  .portfolio-single-three .content-section,
  .portfolio-single-three .index-section{
    display: none !important;
  }
  
  .portfolio-single-left{
    flex-direction: column-reverse;
    overflow-x: visible !important;
    margin-top: 25px;
  }


  .portfolio-single .title::before,
  .portfolio-single-left .title::before,
  .portfolio-single-four .title::before{
    content:'';
    position: absolute;
    height: 1px !important;
    width: 200% !important;
    background-color: #fff;
    bottom: 0 !important;
  }

  .portfolio-single .title::before{
    left: 100%;
  }

  .portfolio-single-left .title::before{
    right: 100%;
  }

  .portfolio-single-left .content-right{
    justify-content: flex-end;
    margin-right: 40px;
  }
  .textWeCover-container{
    height: auto !important;
    align-self: flex-end;
  }

  .textWeCover-text,
  .textTheBases-highlight,
  .textTheBases-textContainer *{
    font-size: 35px !important;
    line-height: 40px !important;
    height: auto !important;
    text-align: right;
  }

  .textTheBases-container{
    height: auto !important;
  }

  .textTheBases-highlight{
    margin: 0 !important;
    /* margin-right: 10px !important; */
  }

  .textTheBases-baseText::before{
    content: '' !important;
  }

  .serviceCards{
    display: block !important;
  }

  .servicesHeader *{
    /* width: 80vw !important; */
  }

  .serviceCard-title{
    font-size: 28px !important;
    line-height: 32px !important;
    font-weight: 600 !important;
  }

  .serviceCard-description{
    font-size: 24px !important;
  }

  .servicesHeader{
    margin-top: 50px !important;
  }
  .portfolio-single-left{
  }

  .portfolio-single .index,
  .portfolio-single-left .index{  
    font-size: 18px !important;
    top: -50% !important;

  }

  .portfolio-single-left .index.rampx{  
    /* top: -100% !important; */
    /* right: -30px !important; */
  }
  .portfolio-single-four .index{
    font-size: 15px !important;
    top: -80% !important;

  }

.portfolio-single-left .description {
margin-bottom: 40px !important;
}

.portfolio-single-four .description{
  text-align: left !important;
  margin-bottom: 20px !important;
  margin-top: 20px !important;
}

.portfolio-single-three{
  margin-top: 50px !important;
}

  .description{
    font-size: 24px !important;
    line-height: 36px !important;
  }

  .singleProjectLeft .description li{
    font-size: 24px !important;
    line-height: 40px !important;
  }

  .sectionTitleLarge{
    font-size: 64px !important;
    text-align: left !important;
  }
  .portfolio-single .title::before{
    /* height: 0 !important; */
  }
  .portfolio-single{
    overflow: visible !important;
  }

  .portfolio-single .title,
  .portfolio-single-left .title,
  .portfolio-single-four .title{
    font-size: 40px !important;
    line-height: 48px !important;
    font-weight: 900 !important;
  }

  .portfolio-single .content-center{
    margin-top: 0 !important;
  }

  .highlight-text{
    display: none !important;
  }

  .portfolio-single-left .graphic,
  .portfolio-single-four .graphic{
    height: auto !important;
  }
    
  .portfolio-single-four .section-cta-container{
    width: auto !important;
  }
  .portfolio-single-four{
    flex-direction: column;
    align-items: flex-start !important;
  }

  .portfolio-single-four .title, .portfolio-single-three .title{
    line-height: 35px !important;
    
  }

  .services{
    padding-top: 50px !important;
  }

  .portfolio-single-four .content-center{
    margin-top: 0px !important;
  }

  .parenthesis, .dash{
    font-size: 100px !important;
    line-height: 100px !important;
    margin-top: -50% !important;
    font-weight: 600 !important;
  }

  .resultsText{
    font-size: 20px !important;
    line-height: 30px !important;
    max-width: 65vw !important;
  }

  .results{
    margin-top: 250px !important;
  }

  .testimonial-first .testimonial-quote{
    font-size: 34px !important;
    line-height: 40px !important;
  }

  .sm-f-column{
    flex-direction: column !important;
    gap: 50px !important;
  }

  .scheduleButton{
    margin-right: auto !important;
  }

  .firstRow{
    flex-direction: column;
  }

  .testimonialSecond{
    display: block !important;
  }

  .testimonialThird{
    width: 100% !important;
    /* margin-left: -10vw !important; */
  }

  .testimonialFourth{
    max-width: 100% !important;
  }

  .testimonialFourth .reviewerImage{
    margin-right: 0 !important;
  }

  .testimonialThird .reviewerImage{
    max-width: 100% !important;
  }

  .testi{
    padding-bottom: 50px !important;
    padding-top: 150px !important;
    padding-left: 24px !important;
    padding-right: 24px !important;
  }

  .testimonialSecond .quoteContent{
    margin-left: 0 !important;
  }
  
  .testimonials {
    position: relative;
  }

  .testimonials *{
    z-index: 2 !important;
  }
  .testimonials::before{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index:1;
  }

  .servicesHeader{
    max-width: 80vw !important;
    flex-direction: column !important;
  }

  .servicesHeader .headerRow{
    flex-direction: column !important;
  
  }


  /* .reviewerContent{
    grid-column: 1 / 3 !important;
    grid-row: 3 / 4 !important
  }

  .testimonialSecond .testimonialQuote{
    font-size: 25px !important;
  }

  .quoteContent{
    grid-column: 1 / 3 !important;
    grid-row: 4 / 4 !important
  } */

  .testimonial-first,
  .testimonialSecond,
  .testimonialThird{
    flex-direction: column !important;
  }

  .testimonial-content{
    margin-top: 0 !important;
  }

  .why-us-third{
    padding: 20px !important;
    align-items: flex-end !important;
    gap: 0 !important;
  }

  .why-us-third-description{
    margin-top: 10px !important;
  }

  .why-us-third-description,
  .why-us-third-description p{
    width: 100% !important;
    margin-right: 0 !important;
    max-width: 100% !important;
  }

  .soDoWe{
    font-size: 100px !important;
    line-height: 100px !important;
    
  }

  .mainContent,
  .topSection,
  .singleProjectLeft{
    flex-direction: column !important;
  }

  .mainContent{
    margin-top: 15px !important;
    font-size: 32px !important;
    line-height: 40px !important;
  }

  .singleProjectRight{
    flex-direction: column-reverse !important;
    max-width: 100vw !important;
  }

  .topSection{
    gap: 50px !important;
    margin-bottom: 50px !important;

  }

  .contentSection{
    /* padding-left: 0 !important; */
    border: none !important;
  }
  .singleProjectRight .designImage{
    max-width: 90vw !important;
    margin: 0 auto !important;
  }

  .singleProjectLeft .designImage{
    width: 90vw !important;
    height: auto !important;
    position: relative;
  }

  .singleProjectLeft .designImage::before{
    content: 'rrrrr';
    position: absolute;
    width: 100%;
    height: 1px;    
    background-color: #fff;
    top: 100%;
    left: 0;
    z-index: 1;
  }

  .singleProjectLeft .bigNumberSection{
    margin-bottom: 170px;
  }

  .singleProjectLeft{
    margin-bottom: 250px !important;
  }

  .singleProjectRight .impressionTitle,
  .singleProjectRight .bigNumberSection{
    font-size: 40px !important;
    align-items: center !important;
  }

  .singleProjectRight .bigNumber{
    font-style: 80px;
  }

  .bigNumber{
    font-size: calc(70vw - 20px) !important;
  }

  .singleProjectRight .headline{
    font-size: 32px !important;
    line-height: 40px !important;
  }

  .singleProjectRight .headline,
  .singleProjectRight .description{
    padding: 0 !important;
  }

  .mainTitle{
    font-size: 70px !important;
    line-height: 66px !important;
  }

  .singleProjectStats .subtitle{
    font-size: 20px !important;
    line-height: 28px !important;
    margin-top: 32px !important;
  }

  .singleProjectIntroduction .bottomSection{
    margin-bottom: 140px;
    margin-top: 50px;
  }

  .singleProjectRight .designImage{
    padding: 0 !important;
  }

  .scheduleCall .circle-section{
    margin: auto !important;
  }

  .singleProjectIntroduction{
    flex-direction: column-reverse !important;
    padding: 25px !important;
    gap: 10px !important;

  }

  .scheduleCall .scheduleButton{
    margin-top: 0 !important;
    width: fit-content !important;
    margin-bottom: 20px !important;
  }

  .scheduleCall{
    flex-direction: column !important;
  }

  .scheduleCall .rightSection{
    align-self: stretch;

  }

  .scheduleCall .rightSection h2{
    line-height: 60px !important;
    font-size: 60px !important;
    margin-bottom: 40px;
  }

  .scheduleCall .leftSection{
    position: relative;
  }
  .scheduleCall .mt--50{
    top: 0 !important;
  }
  .scheduleCall .leftSection .mx-auto{
    position: relative;
    transform: rotate(90deg); /* Equal to rotateZ(45deg) */
    padding: 20% 0;
  }
  .scheduleCall .circle-section::after,
  .scheduleCall .circle-section::before{
    border: none !important;
  }

  .testimonial.containerOld{
    flex-direction: column !important;
  }
  .testimonial.containerOld .leftSection{
    border: none !important;

  }
  .testimonial.containerOld .rightSection{
    padding: 0 !important;
    text-align: center !important;
  }

  .sm-justify-center{
    justify-content: center !important;
  }

  .hero-content .swiggly {
    top: 25px !important;
    line-height: 70px !important;
  }

  .hero-content .ampersand{
    font-size: 45px !important;
  }

  .futureMoves{
    font-size: 60px !important;
    line-height: 60px !important;
  }

  .soDoWe{
    font-size: 75px !important;
    line-height: 75px !important;
  }

  .scheduleButtonAnchor .buttonText{
    font-size: 30px !important;
  }
  .scheduleButtonAnchor{
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .scheduleButtonAnchor .scheduleButton{
    padding: 10px 40px !important;
  }

  .scheduleButton .arrowIcon{
    padding: 12px !important;
    right: -40px;
  }

  .scheduleButton .arrowIcon img{
    height: 20px !important;
    width: 20px !important;
  }

  .swiggly{
    font-size: 140px;
    font-weight: 900;
    line-height: 110px;
  }

  .singleProjectStats .tagContainer{
    width: auto !important;
    padding-bottom: 15px;
  }

 
}

@media(min-width:769px){
  .singleProjectLeft ul.description li{
    max-width: 80%;
  }

  .lg-d-none{
    display: none !important;
  }

  .md-d-none{
    
  }

  .rightSection{
    margin-top: 400px;
  }

  .portfolio-single-three .content-left{
    margin-top: -36px;
    margin-right: 20px;
  }

  .portfolio-single-three .content-left img{
    height: 150px;
  }

  
.portfolio-single-left .content-center .description::before{
  content:'';
  position: absolute;
  left: -30%;
  top:100%;
  width: 150%;
  height:1px;
  background-color: #fff;
  z-index:1;
}

}
.arrow-icon{
  width: auto !important;
  height: auto !important;
  padding: 10px;
}

.testimonials {
  position: relative;
}

.testimonials *{
  z-index: 2 !important;
}

.testimonials::before{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index:1;
}
.of-contain{
  object-fit: contain !important;
}
.projectPage .header{
  position: relative;
}
.projectPage .header::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 4vw;
  width: calc(100% - 8vw);
  height: 1px;
  background-color: #000;
}

.manifestoSchedule .w-\[2rem\].h-\[2rem\]{
  
}

.rotatedText{
  position: absolute;
  right: 0; /* Align the text to the right */
  top: 80%; /* Position at the vertical center */
  transform: translateY(-50%) rotate(270deg); /* Rotate 90 degrees and align vertically */
  transform-origin: right center; /* Ensure the rotation happens from the right edge */
  white-space: nowrap; /* Prevent text wrapping */
  font-size: 150px; /* Example font size */
  background-color: transparent; /* Optional: Make the background transparent */
  color: #FDFEE8;
  font-weight: 900;
}

 /* Custom cursor styling */
.custom-cursor {
  position: fixed;
  pointer-events: none;
  font-family: Arial, sans-serif;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  color: white;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  backdrop-filter: blur(15px);
  background: rgb(138 138 138 / 50%);
}

  /* Elements to trigger custom cursor */
  .portfolio-single:hover,
  .portfolio-single-left:hover,
  .portfolio-single-three,
  /* .portfolio-single-three .content-left:hover, */
  /* .portfolio-single-three .index-section:hover, */
  .portfolio-single-four:hover,
  .see-more-cursor:hover {
    cursor: none; /* Hide default cursor */
  }