@font-face {
  font-family: 'Nohemi';
  src: url('./assets/fonts/Nohemi-Thin-BF6438cc57e2011.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Nohemi';
  src: url('./assets/fonts/Nohemi-ExtraLight-BF6438cc581502c.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Nohemi';
  src: url('./assets/fonts/Nohemi-Light-BF6438cc5702321.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Nohemi';
  src: url('./assets/fonts/Nohemi-Regular-BF6438cc579d934.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nohemi';
  src: url('./assets/fonts/Nohemi-Medium-BF6438cc57ddecd.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Nohemi';
  src: url('./assets/fonts/Nohemi-SemiBold-BF6438cc57db2ff.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Nohemi';
  src: url('./assets/fonts/Nohemi-Bold-BF6438cc577b524.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Nohemi';
  src: url('./assets/fonts/Nohemi-ExtraBold-BF6438cc5761ae2.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Nohemi';
  src: url('./assets/fonts/Nohemi-Black-BF6438cc565e67b.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

.rightSection *{
  /* border: 1px solid red; */
}
html, body, .app {
  width: 100vw;
  overflow-x: hidden;
}


*, *::before, *::after, html, body {
  box-sizing: border-box;
  font-family: Nohemi;
}


body {
  margin: 0;
  font-family: 'Nohemi', sans-serif;
}
.d-flex{
  display: flex !important;
}

.jcc{
  justify-content: center !important;
}

.aic{
  align-items: center !important;
}

.app {
  background-color: #EEFE05;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 68px;
  background-color: #EEFE05;
}

@media(max-width:768px){
  .header {
      display: none;
  }
  }

.headerBottom{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 900;
}

hr{
  width: calc(100vw - 136px);
  border: 1px solid #000;  
}

.headerBottom .headerExtras{
  display: flex;
  justify-content: space-between;
  width: calc(100vw - 136px);

}

.headerExtras .leftDiv{
gap: 200px;
display: flex;
justify-content: space-between;
}
.headerExtras .rightDiv{
  /* width: 25vw; */
  display: flex;
  gap:50px;
  justify-content: space-between;
  
}

.headerExtras .plus{
  font-size: 24px;
  line-height: 24px;
}

.logo {
  width: 64px;
  height: 64px;
}

.navigation {
  display: flex;
  gap: 32px;
}

.nav-item, .navigation a {
  text-decoration: none;
  color: #000000;
  font-weight: normal;
  font-size: 24px;
  line-height: 25px;
  text-decoration: none;
}

.nav-item.active, .navigation a.active {
  font-weight: 900;
  text-decoration: underline;
}

.call-to-action {
  display: flex;
  position: relative;
  align-items: center;
  background-color: #000000;
  color: #eefe05;
  padding: 7.75px 30px 7.75px 21.31px;
  border: none;
  border-radius: 58.56px;
  cursor: pointer;
  font-size: 18.93px;
  font-weight: 500;
}

.cta-button{
  padding: 0;
}

.bg-transparent{
  background-color: transparent !important;
}

.text-black{
  color: #000 !important;
}

.border-black{
  border: 1px solid #000 !Important;
}

.child-arrow-primary .arrow{
  color: #eefe05 !Important;
  font-size:20px;
}

.call-to-action .arrow{
  position: absolute;
  top: 50%;
  right: -30px;
  transform: translate(0,-50%);
  background: #000;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  border: 1px solid #EEFE05;
}

.arrow {
  display: inline-block;
  margin-left: 10px;
  width: 30.99px;
  height: 30.99px;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 60vh; */
  margin-top: 50px;
  text-align: center;
}

.hero-content h1 {
  font-size: 300px;
  line-height: 250px;
  font-weight: 900;
  margin: 0;
  position: relative;
  display: inline-block;

}



.hero-content .zero::before,
.hero-content .zero::after {
    content: "";
    position: absolute;
    left: -20%;
    right: 40%;
    height: 1px; /* Border thickness */
    background-color: black; /* Border color */
}

.hero-content .zero::before {
    top: 0.23em; /* Border at the top, touching the letters */
}

.hero-content .zero::after {
    bottom: .065em; /* Border at the bottom, touching the letters */
}

.hero-content .swiggly{
  position: relative;
}

.hero-content .swiggly::before,
.hero-content .swiggly::after {
    content: "";
    position: absolute;
    top:20%;
    bottom: -100%;
    height: 115%; /* Border thickness */
    width: 1px;
    background-color: black; /* Border color */
}

.hero-content .swiggly::before {
    left: 50%;
}

.hero-content .swiggly::after {
    left: 150%;
}

.hero-content .one{
  position: relative;
}
.hero-content .one::before,
.hero-content .one::after {
    content: "";
    position: absolute;
    left: 0%;
    /* right: 0%; */
    width: 100%;
    height: 1px; /* Border thickness */
    background-color: black; /* Border color */
}

.hero-content .one::before {
    top: 0.23em; /* Border at the top, touching the letters */
}

.hero-content .one::after {
    bottom: .4em; /* Border at the bottom, touching the letters */
}

.hero-content .to{
  position: relative;
}
.hero-content .to::before,
.hero-content .to::after {
    content: "";
    position: absolute;
    background-color: black; /* Border color */
}

.hero-content .to::before {
  bottom: 30%;
  left: -50%;
  width: 50%;
  height: 1px; /* Border thickness */

}

.hero-content .to::after {
  bottom: 10%;
  left: -25%;
  height: 40%;
  width: 1px; /* Border thickness */

}

.hero-section .subHeading{
  display: flex;
  margin-top: 30px;
  gap: 200px;
}

.hero-content p {
  font-size: 24px;
  margin: 15px 0;
  position: relative;
}

.hero-content p::before{
  content: '';
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background-color: #000;

}

.footer {
  background-color: EEFE05;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 39.96px;
  line-height: 40.14px;
}

.icon {
  margin: 0 10px;
}

.arrow {
  margin: 0 20px;
}

.arrow-icon {
  font-weight: 900;
  font-size: 114.53px;
  line-height: 115.04px;
  color: #131313;
  margin: 0 10px;
}

.cta-button {
  background-color: transparent;
  border: 2px solid black;
  padding: 0 40px 0 20px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 120px;
  position: relative;
}

.cta-button .arrow{
  position: absolute;
  top: 50%;
  right: -30px;
  transform: translate(0,-50%);
  background: #000;
  color: #eefe05;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  padding: 5px;
  border: 1px solid #000;
}
.footer-content p{
  /* height: 120px; */
  /* display: grid; */
  margin: 0;

}
/* 
.footer-content p {
  position: relative;
  height: 100px;
  width: 100vw;
}

.footer-content p * {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1%; 
  text-align: center;
} */

.px-15{
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.mt-60{
  margin-top: 60px;
}

.aic{
  align-items: center !important;
}

.hover\:text-primary:hover{
  color: #eefe05 !important;
}

@media(max-width:768px){
.title{
  font-size: 25px !important;
}

.headerExtras {
  width: 100% !important;
  justify-content: center !important;
  
}

.headerExtras .rightDiv{
  display: none;
}
}

@media (max-width:768px) {
  .hero-content h1{
    font-size: 80px;
    line-height: 70px;
  }

  .hero-section .subHeading{
    display: block;
  }

  .hero-content p{
    font-size: 14px;
    max-width: 80vw;
  }

  .md-d-none{
    display: none !important;
  }

  hr{
    width: 90vw !important;
    margin-left: 5vw !important;
  }

  .why-us-first, .why-us-second{
    display: block !important;
  }

  .why-us-first .content-right{
    display: none !important;
  }

  .why-us-first p{
    width: 200% !important;
    left: -25% !important;
  }

  .why-us-first .title-mobile{
    color: #fff;
    font-size: 25px;
    width: 200%;
    left: -25%;
    text-align: right;
  }

  .why-us-second .content{
    width: 100vw !important;
  }

  .why-us-second .card-image img.go-left,
  .why-us-second .card-image img.go-right{
  display: none;
  }
  .why-us-second .card-image img{
    width: 200px;
    margin-left: 0 !important;
    margin-top: 50px;
  }

  .why-us-second .title{
    line-height: normal !important;
    margin-top: 50px !important;
  }

  .why-us-third-title{
    font-size: 35px !important;
    line-height: 35px !important;
  }

  .why-us-third{
    flex-direction: column-reverse !important;
  }

  .why-us-cta{
    flex-direction: column !important;
    justify-content: center;
    align-items: center !important;
    gap: 30px;
    width: max-content;
    margin-top: 50px !important;
  }

  .cta-text{
    font-size: 25px !important;
  }

  .section-cta-container{
width: auto !important;
  }

  .section-cta{
    margin-bottom: 30px;
    margin-right: 0 !important;
    justify-content: center;

  }

  .arrow-icon{
    width: auto !important;
    height: auto !important;
    padding: 10px;
  }

  .why-us-cta .call-to-action.accent{
    width: max-content;
  }

  .portfolio-single,
  .portfolio-single-three{  
    flex-direction: column;
    margin-top: 10px !important;
    padding-top: 50px !important;
  }

  .portfolio-single-three .circle{
    width: 250px !important;
    height: 250px !important;
  }

  .portfolio-single-three .circle-section::after,
  .portfolio-single-three .circle-section::before{
    border: none !important;
  }

  .portfolio-single-three .project-image{
    display: none;
  }

  .portfolio-single-three .content-section,
  .portfolio-single-three .index-section{
    display: none !important;
  }
  
  .portfolio-single-left{
    flex-direction: column-reverse;
    overflow-x: visible !important;
    margin-top: 25px;
  }

  .textWeCover-container{
    height: auto !important;
  }

  .textWeCover-text,
  .textTheBases-highlight,
  .textTheBases-textContainer *{
    font-size: 35px !important;
    line-height: 40px !important;
    height: auto !important;
    text-align: right;
  }

  .textTheBases-container{
    height: auto !important;
  }

  .textTheBases-highlight{
    margin: 0 !important;
    margin-right: 10px !important;
  }

  .textTheBases-baseText::before{
    content: '' !important;
  }

  .serviceCards{
    display: block !important;
  }

  .servicesHeader *{
    /* width: 80vw !important; */
  }

  .serviceCard-title{
    font-size: 25px !important;
  }

  .serviceCard-description{
    font-size: 15px !important;
  }

  .servicesHeader{
    margin-top: 50px !important;
  }
  .portfolio-single-left{
  }

  .portfolio-single .index,
  .portfolio-single-left .index{  
    font-size: 15px !important;
    top: -100% !important;

  }
  .portfolio-single-four .index{
    font-size: 15px !important;
    top: -80% !important;

  }

  .description{
    font-size: 15px !important;
    line-height: 20px !important;
  }

  .portfolio-single .title::before{
    height: 0 !important;
  }

  .portfolio-single .title,
  .portfolio-single-left .title{
    line-height: 25px !important;
  }

  .portfolio-single .content-center{
    margin-top: 0 !important;
  }

  .highlight-text{
    display: none !important;
  }

  .portfolio-single-left .graphic,
  .portfolio-single-four .graphic{
    height: auto !important;
  }
    
  .portfolio-single-four .section-cta-container{
    width: auto !important;
  }
  .portfolio-single-four{
    flex-direction: column;
    align-items: left;
  }

  .portfolio-single-four .title, .portfolio-single-three .title{
    line-height: 35px !important;
    
  }

  .services{
    padding-top: 50px !important;
  }

  .portfolio-single-four .content-center{
    margin-top: 0px !important;
  }

  .parenthesis, .dash{
    font-size: 100px !important;
    line-height: 100px !important;
    margin-top: -50% !important;
    font-weight: 600 !important;
  }

  .resultsText{
    font-size: 20px !important;
    line-height: 30px !important;
    max-width: 65vw !important;
  }

  .results{
    margin-top: 400px !important;
  }

  .sm-f-column{
    flex-direction: column !important;
    gap: 50px !important;
  }

  .scheduleButton{
    margin-right: auto !important;
  }

  .firstRow{
    flex-direction: column;
  }

  .testimonialSecond{
    display: block !important;
  }

  .testimonialThird{
    width: 100vw !important;
    margin-left: -10vw !important;
  }

  .testimonialFourth{
    max-width: 100vw !important;
  }

  .testi{
    padding-bottom: 50px !important;
  }

  .testimonials {
    position: relative;
  }

  .testimonials *{
    z-index: 2 !important;
  }
  .testimonials::before{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index:1;
  }

  .servicesHeader{
    max-width: 75vw !important;
    flex-direction: column !important;
  }

  .servicesHeader .headerRow{
    flex-direction: column !important;
  
  }


  /* .reviewerContent{
    grid-column: 1 / 3 !important;
    grid-row: 3 / 4 !important
  }

  .testimonialSecond .testimonialQuote{
    font-size: 25px !important;
  }

  .quoteContent{
    grid-column: 1 / 3 !important;
    grid-row: 4 / 4 !important
  } */

  .testimonial-first,
  .testimonialSecond,
  .testimonialThird{
    flex-direction: column !important;
  }

  .testimonial-content{
    margin-top: 0 !important;
  }


  .soDoWe{
    font-size: 100px !important;
    line-height: 100px !important;
    
  }

  .mainContent,
  .topSection,
  .singleProjectLeft{
    flex-direction: column !important;
  }

  .singleProjectRight{
    flex-direction: column-reverse !important;
    max-width: 100vw !important;
  }

  .topSection{
    gap: 50px !important;
    margin-bottom: 50px !important;

  }

  .contentSection{
    padding-left: 0 !important;
    border: none !important;
  }
  .singleProjectRight .designImage{
    max-width: 90vw !important;
    margin: 0 auto !important;
  }

  .singleProjectLeft .designImage{
    width: 90vw !important;
    height: auto !important;
  }

  .singleProjectRight .impressionTitle,
  .singleProjectRight .bigNumberSection{
    font-size: 40px !important;
  }

  .singleProjectRight .bigNumber{
    font-style: 80px;
  }

  .singleProjectRight .headline,
  .singleProjectRight .description{
    padding: 0 !important;
  }

  .mainTitle{
    font-size: 40px !important;
    line-height: 40px !important;
  }

  .singleProjectIntroduction{
    flex-direction: column-reverse !important;
    padding: 70px !important;
    gap: 10px !important;

  }

  .scheduleCall .scheduleButton{
    margin-top: 0 !important;
    width: fit-content !important;
    margin-bottom: 20px !important;
  }

  .scheduleCall{
    flex-direction: column !important;
  }

  .scheduleCall .leftSection{
    position: relative;
  }
  .scheduleCall .mt--50{
    top: 0 !important;
  }
  .scheduleCall .leftSection .mx-auto{
    position: relative;
    transform: rotate(90deg); /* Equal to rotateZ(45deg) */
    padding: 20% 0;
  }
  .scheduleCall .circle-section::after,
  .scheduleCall .circle-section::before{
    border: none !important;
  }

  .testimonial.containerOld{
    flex-direction: column !important;
  }
  .testimonial.containerOld .leftSection{
    border: none !important;

  }
  .testimonial.containerOld .rightSection{
    padding: 0 !important;
    text-align: center !important;
  }

  .sm-justify-center{
    justify-content: center !important;
  }
}

@media(min-width:767px){
  .lg-d-none{
    display: none !important;
  }

  .md-d-none{
    
  }
}
.arrow-icon{
  width: auto !important;
  height: auto !important;
  padding: 10px;
}